{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Categorias" %}  {% endblock %}

{% block contento %}

{% if categoria_list %}

	<div class="table-responsive">
		<table class="table">
			<tr>
				<th class="col-md-1">{% trans "Nombre" %}</th>
			</tr>

	    {% for categoria in categoria_list %}
			<tr>
		        <td class="col-md-1"><a href="{% url 'articuloscat' categoria.id_categoria %}">{{ categoria.nombre }}</a></td>
		        
			</tr>		  
    {% endfor %}
    	</table>
    		     <a href="{% url 'home' %}"><button class="btn btn-primary btn-large">{% trans "Atras" %}</button></a>      
    </div>
{% else %}
    <p>{% trans "No hay categorias disponibles." %}</p>
{% endif %}

{% endblock contento %}