{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Proveedores" %}  {% endblock %}

{% block contento %}

{% if proveedor_list %}

	<div class="table-responsive">
		<table class="table">
			<tr>
				<th class="col-md-1">{% trans "CIF" %}</th>
				<th class="col-md-1">{% trans "Nombre" %}</th>
				<th class="col-md-1">{% trans "Telefono" %}</th>
				<th class="col-md-1">{% trans "Email" %}</th>
				<th class="col-md-1">{% trans "Provincia" %}</th>
				<th class="col-md-1">{% trans "Ciudad" %}</th>
				<th class="col-md-1">{% trans "Direccion" %}</th>
				<th class="col-md-1">{% trans "Codigo postal" %}</th>
			</tr>

	    {% for proveedor in proveedor_list %}
			<tr>
		        <td class="col-md-1"><a href="{% url 'proveedordetalle' proveedores.id %}">{{ proveedor.nombre }}</a></td>
		        <td class="col-md-1">{{ proveedor.cif }}</td>
		        <td class="col-md-1">{{ proveedor.nombre }}</td>
		        <td class="col-md-1">{{ proveedor.telefono }}</td>
		        <td class="col-md-1">{{ proveedor.email }}</td>
		        <td class="col-md-1">{{ proveedor.provincia }}</td>
		        <td class="col-md-1">{{ proveedor.ciudad }}</td>
		        <td class="col-md-1">{{ proveedor.direccion }}</td>
		        <td class="col-md-1">{{ proveedor.cp }}</td>
		        
			</tr>		  
    {% endfor %}
    	</table>
    		        
    </div>
{% else %}
    <p>{% trans "No hay proveedores disponibles." %}</p>
{% endif %}

{% endblock contento %}